.HS__cart a, .header__link-contacts, .header__link-chefs, .header__link-recipes, body {
  color: #fff;
}

.header__link-menu {
  color: #34C759;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Helvetica NeueCyr Thin"), local("HelveticaNeueCyr-Thin"), url("../font/HelveticaNeueCyr-Thin.woff2") format("woff2"), url("../font/HelveticaNeueCyr-Thin.woff") format("woff");
}
@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Helvetica NeueCyr Bold"), local("HelveticaNeueCyr-Bold"), url("../font/HelveticaNeueCyr-Bold.woff2") format("woff2"), url("../font/HelveticaNeueCyr-Bold.woff") format("woff");
}
.container {
  width: 1110px;
  margin: auto;
}
@media (max-width: 769px) {
  .container {
    width: 740px;
  }
}
@media (max-width: 321px) {
  .container {
    width: 300px;
  }
}

a {
  text-decoration: none;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 30px;
  background-color: #1A1A1A;
}

h2, h3, h4 {
  text-transform: capitalize;
}

.header__inner {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 24px;
  padding: 33px 0;
  position: absolute;
  top: 0;
}
@media (max-width: 321px) {
  .header__inner {
    display: block;
  }
}

.header__logo {
  margin-right: 590px;
}
@media (max-width: 769px) {
  .header__logo {
    margin-right: 205px;
  }
}
@media (max-width: 321px) {
  .header__logo {
    margin-left: 10%;
    margin-bottom: 20px;
  }
}

.header__nav {
  display: flex;
}

.header__link-menu {
  margin-right: 45px;
}
@media (max-width: 321px) {
  .header__link-menu {
    margin-right: 25px;
  }
}

.header__link-recipes {
  margin-right: 55px;
}
@media (max-width: 321px) {
  .header__link-recipes {
    margin-right: 25px;
  }
}

.header__link-chefs {
  margin-right: 36px;
}
@media (max-width: 321px) {
  .header__link-chefs {
    margin-right: 25px;
  }
}

.delivery {
  background: url(../images/background-top.png) no-repeat;
  background-position: center;
  background-size: cover;
}

.delivery {
  padding-top: 171px;
  padding-bottom: 401px;
}

.delivery__title {
  font-size: 72px;
  line-height: 84px;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 16px;
}
.delivery__title span {
  font-weight: 700;
}
@media (max-width: 321px) {
  .delivery__title {
    font-size: 22px;
    line-height: 28px;
  }
}

.delivery__text {
  text-align: center;
  line-height: 26px;
  opacity: 0.7;
  max-width: 550px;
  margin: auto;
  margin-bottom: 40px;
}
@media (max-width: 325px) {
  .delivery__text {
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 25px;
  }
}

.button {
  background-color: #34C759;
  color: #1A1A1A;
  border: none;
  border-radius: 43px;
  cursor: pointer;
}

.delivery__button {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  width: 220px;
  height: 72px;
  margin: 0 auto;
  display: block;
  margin-bottom: 70px;
}
@media (max-width: 325px) {
  .delivery__button {
    width: 160px;
    height: 39px;
    font-size: 15px;
    margin-bottom: 45px;
  }
}

.HS {
  display: flex;
  justify-content: center;
  gap: 0 90px;
}
@media (max-width: 325px) {
  .HS {
    display: block;
  }
}

.HS__cart {
  flex-basis: 245px;
  text-align: center;
}
.HS__cart img {
  margin-bottom: 16px;
}
.HS__cart a {
  display: block;
}
.HS__cart p {
  opacity: 0.5;
  font-size: 14px;
}

.healthy-eating {
  margin-top: -185px;
}

.healthy-eating__inner {
  background-color: #252525;
  padding: 105px 64px 90px;
  margin-bottom: 51px;
}
@media (max-width: 769px) {
  .healthy-eating__inner {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.healthy-eating__title {
  color: #D9D9D9;
  font-size: 30px;
  line-height: 60px;
  letter-spacing: 0.2em;
  text-transform: capitalize;
  margin-bottom: 61px;
  text-align: center;
  background-image: url(../images/about.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.healthy-eating__text {
  color: #A6A6A6;
  text-align: center;
  max-width: 700px;
  display: block;
  margin: auto;
  margin-bottom: 90px;
}

.healthy-eating__catalog {
  display: flex;
  align-items: center;
}

.arrow-left {
  margin-right: 61px;
}
@media (max-width: 769px) {
  .arrow-left {
    display: none;
  }
}

@media (max-width: 769px) {
  .arrow-right {
    display: none;
  }
}

.healthy-eating__img-left {
  margin-right: 34px;
}
@media (max-width: 769px) {
  .healthy-eating__img-left {
    width: 30%;
  }
}
@media (max-width: 325px) {
  .healthy-eating__img-left {
    width: 50%;
    margin-right: 10px;
  }
}

.healthy-eating__img-right {
  margin-right: 66px;
}
@media (max-width: 769px) {
  .healthy-eating__img-right {
    width: 30%;
  }
}
@media (max-width: 325px) {
  .healthy-eating__img-right {
    width: 50%;
  }
}

.work__inner {
  margin-bottom: 91px;
}

.work__title {
  font-size: 36px;
  line-height: 90px;
  text-align: center;
  letter-spacing: 0.2em;
  background: url(../images/work.png) no-repeat center;
  margin-bottom: 59px;
}
.work__title::after {
  content: "";
  display: block;
  width: 56px;
  border-bottom: 2px solid #34C759;
  top: 20px;
  left: 48%;
  position: relative;
}
@media (max-width: 325px) {
  .work__title {
    font-size: 30px;
  }
}

.work__process {
  display: flex;
  gap: 0 30px;
}
@media (max-width: 769px) {
  .work__process {
    flex-wrap: wrap;
    gap: 20px;
  }
}

.cart-process {
  width: 255px;
  min-height: 182px;
  background: #252525;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 24px;
  padding-bottom: 0;
  color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 325px) {
  .cart-process {
    width: 65%;
  }
}

.work__cart-1 {
  background-color: #34C759;
  color: #191919;
}
.work__cart-1 h3 {
  color: #191919;
}
.work__cart-1 h3::after {
  content: "";
  display: block;
  width: 56px;
  border-bottom: 2px solid #191919;
  top: 15px;
  position: relative;
}
.work__cart-1 p {
  width: 200px;
}
@media (max-width: 325px) {
  .work__cart-1 {
    width: auto;
  }
}

.cart-process__title {
  font-size: 22px;
  line-height: 26px;
  padding-bottom: 10px;
  margin-bottom: 24px;
  color: #fff;
}
.cart-process__title::after {
  content: "";
  display: block;
  width: 56px;
  border-bottom: 2px solid #34C759;
  top: 15px;
  position: relative;
}

.cart-process__text {
  font-size: 13px;
  line-height: 18px;
}

.dishes__inner {
  margin-bottom: 120px;
}

.dishes__title {
  font-size: 39px;
  line-height: 90px;
  letter-spacing: 0.2em;
  text-align: center;
  background: url(../images/dishes.png) no-repeat center;
  margin-bottom: 90px;
}
.dishes__title::after {
  content: "";
  display: block;
  width: 56px;
  border-bottom: 2px solid #34C759;
  top: 28px;
  left: 48%;
  position: relative;
}
@media (max-width: 325px) {
  .dishes__title {
    font-size: 25px;
  }
}

.dishes__catalog {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.dishes__cart {
  max-width: 350px;
  background: #252525;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
@media (max-width: 325px) {
  .dishes__cart {
    max-width: 280px;
    height: auto;
  }
}

.dishes__img {
  max-width: 350px;
  max-height: 260px;
  margin-bottom: 29px;
}
@media (max-width: 325px) {
  .dishes__img {
    max-width: 280px;
    height: auto;
  }
}

.dishes__cart-content {
  padding: 0 30px 24px;
}

.dishes__cart-title {
  font-size: 30px;
  line-height: 32px;
  color: #D9D9D9;
}
@media (max-width: 325px) {
  .dishes__cart-title {
    font-size: 20px;
  }
}

.dishes__add {
  color: #A4A8B2;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 20px;
}

.dishes__choice {
  font-size: 13px;
  line-height: 18px;
  color: #85878C;
  margin-bottom: 20px;
}

.dishes__cart-bottom {
  display: flex;
  align-items: center;
}

.dishes__rating {
  margin-right: 41px;
}

.dishes__button {
  font-size: 10px;
  line-height: 40px;
  letter-spacing: 0.2em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  width: 100px;
  border-radius: 43px;
  border: 2px solid #303030;
  background: #262626;
  color: rgba(255, 255, 255, 0.5);
}

.button {
  background-color: #34C759;
  color: #1A1A1A;
  border: none;
  border-radius: 43px;
  cursor: pointer;
}

.chefs__inner {
  margin-bottom: 120px;
}

.chefs__title {
  font-size: 36px;
  line-height: 90px;
  letter-spacing: 0.2em;
  text-align: center;
  margin-bottom: 60px;
  background: url(../images/chefs.png) no-repeat center;
}
.chefs__title::after {
  content: "";
  display: block;
  width: 56px;
  border-bottom: 2px solid #34C759;
  top: 28px;
  left: 48%;
  position: relative;
}
@media (max-width: 325px) {
  .chefs__title {
    font-size: 30px;
    line-height: 35px;
  }
}

.chefs__list {
  display: flex;
}
@media (max-width: 325px) {
  .chefs__list {
    display: block;
  }
}

.chefs__item {
  margin-right: 30px;
}
.chefs__item:last-child {
  margin-right: 0;
}
@media (max-width: 325px) {
  .chefs__item {
    margin-bottom: 20px;
  }
}

.cart-chefs__top {
  display: flex;
  margin-bottom: 24px;
}

.cart-chefs__avatar {
  margin-right: 24px;
}

.cart-chefs__name {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 6px;
}

.cart-chefs__level {
  font-size: 12px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.5);
}

.cart-chefs__img {
  width: 100%;
}

.recipe__inner {
  margin-bottom: 120px;
}

.recipe__title {
  font-size: 36px;
  line-height: 90px;
  letter-spacing: 0.2em;
  text-align: center;
  background: url(../images/recipes.png) no-repeat center;
  margin-bottom: 90px;
}
.recipe__title::after {
  content: "";
  display: block;
  width: 56px;
  border-bottom: 2px solid #34C759;
  top: 28px;
  left: 48%;
  position: relative;
}

.recipe__newspaper {
  display: flex;
  align-items: flex-start;
}
@media (max-width: 325px) {
  .recipe__newspaper {
    display: block;
  }
}

.breakfast {
  background: url(../images/background-block.png) no-repeat center;
  width: 50%;
  height: 510px;
  margin-right: 30px;
  text-align: center;
  position: relative;
}
@media (max-width: 325px) {
  .breakfast {
    margin-bottom: 20px;
    width: 100%;
  }
}

.breakfast__arrow {
  position: absolute;
  top: 30px;
  right: 30px;
}

.breakfast__sabtitle {
  margin-bottom: 64px;
  padding-top: 60px;
}

.breakfast__data {
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 25px;
}

.breakfast__title {
  font-size: 24px;
  line-height: 40px;
  max-width: 411px;
  text-align: center;
  margin: auto;
  margin-bottom: 45px;
}

.breakfast__chefs {
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 60px;
}

.glaz {
  margin-right: 24px;
}

.recipe__box {
  width: 50%;
}
@media (max-width: 325px) {
  .recipe__box {
    width: auto;
  }
}

.recipe__little-block {
  margin-bottom: 30px;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-right: 20px;
}
.recipe__little-block :last-child {
  margin-bottom: 0;
}

.dinner {
  background: url(../images/background-littel-block.png) no-repeat center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.sweets {
  background-color: #34C759;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  color: #252525;
}
.sweets .little-block__data {
  color: #252525;
}

.lunch {
  background: #252525;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.little-block__title {
  margin-bottom: 10px;
}

.little-block__footer {
  display: flex;
  align-items: center;
}
@media (max-width: 769px) {
  .little-block__footer {
    display: block;
  }
}

.little-block__img {
  margin-right: 15px;
}

.little-block__data {
  font-size: 12px;
  line-height: 25px;
  color: #B3B3B3;
  margin-right: 198px;
}

.little-block__img-2 {
  margin-right: 24px;
}

.little-block__reviews {
  align-self: flex-end;
  height: 30px;
}

.social__inner {
  margin-bottom: 120px;
}

.social__title {
  font-size: 39px;
  line-height: 90px;
  letter-spacing: 0.2em;
  text-align: center;
  background: url(../images/social-dg.png) no-repeat center;
  margin-bottom: 90px;
}

.social__box {
  display: flex;
}
@media (max-width: 769px) {
  .social__box {
    flex-wrap: wrap;
    gap: 15px;
  }
}
@media (max-width: 325px) {
  .social__box {
    display: block;
  }
}

.social__cart {
  background-color: #262626;
  margin-right: 30px;
  height: 330px;
}
.social__cart :last-child {
  margin-right: 0;
}
@media (max-width: 769px) {
  .social__cart {
    margin-right: 0;
  }
}
@media (max-width: 325px) {
  .social__cart {
    margin-bottom: 20px;
    height: auto;
  }
}

.cart-social__head {
  display: flex;
  align-items: center;
  padding: 25px;
  padding-bottom: 23px;
  border-bottom: 2px solid #303030;
  margin-bottom: 20px;
}

.cart-social__head-2 {
  margin-bottom: 0;
}

@media (max-width: 325px) {
  .cart-social__img {
    width: 100%;
  }
}

.cart-social__icon {
  margin-right: 20px;
}

.cart-social__name {
  margin-right: 34px;
  width: 106px;
  color: #BFBFBF;
  text-transform: capitalize;
}

.cart-social__button {
  text-transform: uppercase;
  color: #737373;
  font-size: 10px;
  line-height: 40px;
  letter-spacing: 0.2em;
  width: 100px;
  background: #262626;
  border: 2px solid #303030;
  border-radius: 30px;
}
@media (max-width: 325px) {
  .cart-social__button {
    line-height: 15px;
    height: 40px;
  }
}

.cart-social__main {
  padding-left: 30px;
  font-size: 14px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.7);
}

.cart-social__data {
  color: #737373;
  margin-bottom: 10px;
}

.cart-social__text {
  max-width: 280px;
  margin-bottom: 10px;
}

.cart-social__email {
  color: #34C759;
}

.cart-social-2 {
  position: relative;
}

.cart-social__arrow {
  position: absolute;
  top: 136px;
  right: 152px;
  cursor: pointer;
}
@media (max-width: 325px) {
  .cart-social__arrow {
    display: none;
  }
}

.footer {
  padding: 30px 0;
  background-color: #262626;
}

.footer__top {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 2px solid #303030;
}

.footer__logo {
  text-align: center;
  margin-bottom: 10px;
}

.footer__copy {
  color: #737373;
  text-align: center;
}