%colorText{
    color: #fff;
}

$colorAccent:#34C759;

%colorAccent {
    color: #34C759;
}

@mixin Button{
    background-color: $colorAccent;
    color: #1A1A1A;
    border: none;
    border-radius: 43px;
    cursor: pointer;
}



@media (max-width:769px) {

}

@media (max-width:325px) {
 
}